header {
    background-image: url("../images/cedarpoint.jpg");
}


  .coaster {
    position: relative;
    display: inline-block;
}

.coaster-image {
    position: relative;
    width: 300px;
    height: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 103.5%;
    height: 103.5%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
}

.coaster:hover .overlay,
.coaster:focus .overlay {
    opacity: 1;
}

.info {
  color: white;
  padding: 20px;
}

.info h2 {
  margin-bottom: 10px;
}


  